= render @blog

%div
  = link_to "Edit", edit_blog_path(@blog)
%div
  = button_to "Destroy", @blog, method: :delete
%div
  = link_to "blog一覧に戻る", blogs_path
%div
  = link_to "Entry一覧", blog_entries_path(@blog)
%div
  = link_to "新規Entry作成", new_blog_entry_path(@blog)
